@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result alert alert-success">
                @Model.Result
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error alert alert-danger"></div>
            <div class="fieldset">
                <div class="row">
                    <label asp-for="OldPassword" asp-postfix=":" class="col-12 col-md-4 col-form-label"></label>
                    <div class="col-12 col-md-4 mb-md-3">
                        <input asp-for="OldPassword" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4  required-error">
                        <span asp-validation-for="OldPassword"></span>
                        <strong class="d-none d-md-block"><nop-required /></strong>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="NewPassword" asp-postfix=":" class="col-12 col-md-4 col-form-label"></label>
                    <div class="col-12 col-md-4 mb-md-3">
                        <input asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4  required-error">
                        <span asp-validation-for="NewPassword"></span>
                        <strong class="d-none d-md-block"><nop-required /></strong>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="ConfirmNewPassword" asp-postfix=":" class="col-12 col-md-4 col-form-label"></label>
                    <div class="col-12 col-md-4 mb-md-3">
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                    </div>
                    <div class="col-12 col-md-4  required-error">
                        <span asp-validation-for="ConfirmNewPassword"></span>
                        @*<strong class="d-none d-md-block"><nop-required /></strong>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-4 col-md-4 btn-lg col-12 d-grid">
                    <button type="submit" class="btn btn-danger text-uppercase btn-lg rounded-0 change-password-button" value="">
                        @T("Account.ChangePassword.Button")
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>