@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<form asp-route="RegisterResult" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error alert alert-success"></div>
    <div class="page registration-result-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body">
            <div class="result alert alert-success mb-5">
                @Model.Result
            </div>
            <div class="d-grid col-12 col-md-3 mx-auto">
                <button type="submit" name="register-continue" class="btn btn-primary btn-lg rounded-0 text-uppercase register-continue-button" value="" >
                    @T("Account.Register.Result.Continue")
                    </button>
            </div>
        </div>
    </div>
</form>