@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-blogtags card">
        <div class="card-header title">
            <h4>@T("Blog.TagCloud")</h4>
        </div>
        <div class="listbox">
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.Tags)
                {
                    <li class="list-group-item">
                        <a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;"><i class="fa fa-angle-double-right" aria-hidden="true"></i> @item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}